@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #e81c24;
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Roboto Slab", ui-serif, Georgia, serif;
}

@layer base {
  html {
    background-color: #f9f8f5;
  }

  body {
    min-height: 100vh;
    @apply font-serif;
    background-color: #f9f8f5;
  }
}
