@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #e81c24;
  --color-ink: #3a3533;
  --color-border: #c9c5b9;
  --color-surface: #f0ebe5;
  --color-bg: #f9f8f5;
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Roboto Slab", ui-serif, Georgia, serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  html {
    background-color: theme(--color-bg);
  }

  body {
    min-height: 100vh;
    @apply font-serif;
    background-color: theme(--color-bg);
  }
}
